body {
  background-color: #111827;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

* {
  cursor: url("./images/cursor.png"), auto;
}

button,
a,
input,
textarea {
  cursor: url("./images/cursor.png"), auto;
}

.homepage {
  background: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(10, 6, 6, 0.8) 100%
  );
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.shimmer {
  background: linear-gradient(
    90deg,
    rgba(55, 65, 81, 1) 25%,
    rgba(75, 85, 99, 1) 50%,
    rgba(55, 65, 81, 1) 75%
  );
  background-size: 400px 100%;
  animation: shimmer 1.5s infinite linear;
}
