/* body {
  background-image: url(https://image.slidesdocs.com/responsive-images/background/business-modern-tuscany-portfolio-abstract-powerpoint-background_d9f289ef59__960_540.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */