body {
  background-color: #111827;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.homepage {
  background: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(10, 6, 6, 0.8) 100%
  );
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
